#img-bg{
    background-image: url('https://images.hdqwalls.com/download/small-memory-evening-8k-5o-3840x2400.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}